body {
  background-image: url(images/WofBookCovers/LegendsDarkstalker); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-attachment: fixed;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav {
  list-style:none;
  text-align:center;
}
 .nav li {
  display:inline;
  margin-right:50px;
  margin-left:50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  background-color: rgb(39, 47, 112);
  color: aliceblue;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.button1:hover {
  background-color: rgb(18, 24, 69);
}

.mainx {
  width:1000px;
  margin:0 auto;
  padding:20px;
  background-color:rgba(96, 216, 114, 0.9)
}

.maini {
  width:1000px;
  margin:0 auto;
  padding:20px;
  background-color:rgba(168, 141, 224, 0.9)
}

.maind {
  width:1000px;
  margin:0 auto;
  padding:20px;
  background-color:rgba(224, 152, 79, 0.9)
}

.mainc {
  width:1000px;
  margin:0 auto;
  padding:20px;
  background-color:rgba(99, 200, 173, 0.9)
}

.maint {
  width:1000px;
  margin:0 auto;
  padding:20px;
  background-color:rgba(114, 155, 216, 0.9)
}

.mainx2 {
  width:1000px;
  margin:0 auto;
  padding:20px;
  background-color:rgba(212, 253, 218, 0.9)
}

.maini2 {
  width:1000px;
  margin:0 auto;
  padding:20px;
  background-color:rgba(232, 224, 250, 0.9)
}

.maind2 {
  width:1000px;
  margin:0 auto;
  padding:20px;
  background-color:rgba(252, 219, 185, 0.9)
}

.mainc2 {
  width:1000px;
  margin:0 auto;
  padding:20px;
  background-color:rgba(210, 252, 241, 0.9)
}

.maint2 {
  width:1000px;
  margin:0 auto;
  padding:20px;
  background-color:rgba(242, 246, 252, 0.9)
}

.mainx3 {
  width:1000px;
  margin:0 auto;
  padding:20px;
  background-color:rgba(181, 238, 190, 0.9)
}

.maini3 {
  width:1000px;
  margin:0 auto;
  padding:20px;
  background-color:rgba(213, 199, 240, 0.9)
}

.maind3 {
  width:1000px;
  margin:0 auto;
  padding:20px;
  background-color:rgba(236, 198, 160, 0.9)
}

.mainc3 {
  width:1000px;
  margin:0 auto;
  padding:20px;
  background-color:rgba(182, 241, 225, 0.9)
}

.maint3 {
  width:1000px;
  margin:0 auto;
  padding:20px;
  background-color:rgba(209, 222, 241, 0.9)
}

 .maina {
  width:1000px;
  margin:0 auto;
  padding:20px;
  background-color:rgba(207, 236, 222, 0.9);
 }
 
 .maina2 {
  width:1000px;
  margin:0 auto;
  padding:20px;
  background-color:rgba(183, 222, 204, 0.9)
 }

.imagecenter {
  display:block;
  margin: 0 auto;
}